<div class="header">
  <h1>
    <i class="fa fa-laptop"></i>
    <%= "#{@pin.title}" %>
  </h1>
  <h3>  This pin has been pinned by: 
    <ul class="list-inline"> 
    <% @users.each do |user| %>
      <li><%= user.first_name %></li>
    <% end %>
     </ul>
  </h3>
</div>

<div class="show-pin">
  <% if !@pin.image.url.nil? %>
    <img src="<%= @pin.image.url(:medium) %>">
  <% end %>

  <p class="text"><%= "#{@pin.text}" %></p>

  <hr/>
  <p>
    <b>Visit <%= "#{@pin.title}" %> at: </b>
    <a class="url" href="<%= "#{@pin.url}" %>" target="_blank">
      <%= "#{@pin.url}" %>
    </a>
  </p>

  <%= link_to 'Edit', edit_pin_by_name_path("#{@pin.slug}"), method: :get, class: 'nav' %> 

  <%= link_to repin_path(@pin), class: 'nav', method: "post" do %>
              <i class="fa fa-plus" aria-hidden="true"></i> Repin
            <% end %>
</div>

<br/>
<div class="bottom-nav">
<a href="/" class="nav">
  <i class="fa fa-backward"></i>
  Back to Home
</a>
</div>
