<h1>User Profile</h1>

<p id="notice"><%= notice %></p>

<div class="show-user">
<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>


<%= link_to 'Edit', edit_user_path(@user), class: 'nav' %> 
<%= link_to 'Pins Home', root_path, class: 'nav' %>

</div>
